<h1>관리자페이지입니다</h1>
<form action="/admin/update_info">
    <p>우산 총 개수: </p>
    <input type="number" name="total_num" value="<%=@products.total_amount%>" />
    <p>우산 대여 개수: </p>
    <input type="number" name="lended_num" value="<%=@products.lended_amount%>" />
    <input type="submit" value="확인" />
    <p>ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ</p>
</form>

<form action="/admin/update_info_2">
    <p>재무계산기 총 개수: </p>
    <input type="number" name="total_num_2" value="<%=@products2.total_amount%>" />
    <p>재무계산기 대여 개수: </p>
    <input type="number" name="lended_num_2" value="<%=@products2.lended_amount%>" />
    <input type="submit" value="확인" />
    <p>ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ</p>
</form>

<h3>추가하기</h3>
<form action="/admin/new_info">
    <p>제품명: </p>
    <input type="text" name="category" />
    <p>총 개수: </p>
    <input type="number" name="new_total_num" value="0" />
    <p>대여 개수: </p>
    <input type="number" name="new_lended_num" value="0" />
    <input type="submit" value="확인" />
    
</form>

<a href="/" class="btn btn-default">홈으로 가기</a>
