
<div class="user-box" style="max-width: 1200px; margin-bottom: 100px; ">
      <div class="top-line"></div>
      
      <!--복지-->
      <div style="float: left; margin: 20px 20px 20px 20px">
       
          <div class="mypage-box" style="color:#fff;   text-align:center; margin-right:20px">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center;  margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
      </div>
      <div class="clear"></div>
      
      <!--사무-->
      <div style="float: left; margin: 0px 20px 20px 20px">
       
          <div class="mypage-box" style="color:#fff;   text-align:center; margin-right:20px">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center;  margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
      </div>
      <div class="clear"></div>
      
      <div style="float: left; margin: 0px 20px 20px 20px">
       
          <div class="mypage-box" style="color:#fff;   text-align:center; margin-right:20px">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center;  margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
      </div>
      <div class="clear"></div>
      
      <div style="float: left; margin: 0px 20px 20px 20px">
       
          <div class="mypage-box" style="color:#fff;   text-align:center; margin-right:20px">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center;  margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
      </div>
      <div class="clear"></div>
      
      <div style="float: left; margin: 0px 20px 20px 20px">
       
          <div class="mypage-box" style="color:#fff;   text-align:center; margin-right:20px">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center;  margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
      </div>
      <div class="clear"></div>
      
      <div style="float: left; margin: 0px 20px 20px 20px">
       
          <div class="mypage-box" style="color:#fff;   text-align:center; margin-right:20px">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center;  margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
      </div>
      <div class="clear"></div>
      
      <div style="float: left; margin: 0px 20px 20px 20px">
       
          <div class="mypage-box" style="color:#fff;   text-align:center; margin-right:20px">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center;  margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
      </div>
      <div class="clear"></div>
      
      <div style="float: left; margin: 0px 20px 20px 20px">
       
          <div class="mypage-box" style="color:#fff;   text-align:center; margin-right:20px">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center;  margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
      </div>
      <div class="clear"></div>
      
      <div style="float: left; margin: 0px 20px 20px 20px">
       
          <div class="mypage-box" style="color:#fff;   text-align:center; margin-right:20px">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center;  margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
          <div class="mypage-box" style="color:#fff; text-align:center; margin-right:20px ">
              
          </div>
          
      </div>
      <div class="clear"></div>
</div>