
<div class="user-box" style="max-width: 800px; margin-bottom: 100px; ">
     
      <div class="top-line"></div>
      <div style="float: left">
          
          <div class="my-box" style="color:#fff; padding: 35px 10px 10px 10px;  text-align:center; margin: 25px 25px 25px 25px;">
              <img src="/assets/view-list.png" width="60px" height="60px" />
              <div style="width: 180px; border: 1px solid #fff;border-radius:25px; margin:auto; margin-top:10px; margin-bottom:10px">
                  <h4><a href="/attend/create" style="color: #fff">장부 만들기</a></h4>
              </div>
              <h3><p style="margin:0px; line-height:15px">출석부를</p></p></h3>
              <h3><p style="margin:0px; line-height:15px">생성해주세요</p></h3>
          </div>
          
          <div class="my-box" style="color:#fff; padding: 35px 10px 10px 10px;  text-align:center; margin: 25px 0px 25px 0;">
              <img src="/assets/pencil.png" width="60px" height="60px" />
              <div style="width: 180px; border: 1px solid #fff;border-radius:25px; margin:auto; margin-top:10px; margin-bottom:10px">
                  <h4><a href="/attend/check" style="color: #fff">출석 체크</a></h4>
              </div>
              <h3><p style="margin:0px; line-height:15px">출석을</p></p></h3>
              <h3><p style="margin:0px; line-height:15px">체크해주세요</p></h3>
          </div>
         
          <div class="clear"></div>
       
          <div class="my-box" style="color:#fff; padding: 35px 10px 10px 10px;  text-align:center; margin: 0 25px 25px 25px;">
              <img src="/assets/icon.png" width="60px" height="60px" />
              <div style="width: 180px; border: 1px solid #fff;border-radius:25px; margin:auto; margin-top:10px; margin-bottom:10px">
                  <h4><a href="/attend/result" style="color: #fff">출결 현황</a></h4>
              </div>
              <h3><p style="margin:0px; line-height:15px">출결 현황을</p></p></h3>
              <h3><p style="margin:0px; line-height:15px">확인해보세요</p></h3>
          </div>
          
          <div class="my-box" style="color:#fff; padding: 35px 10px 10px 10px;  text-align:center; margin: 0 0px 25px 0;">
               <img src="/assets/rankings.png" width="60px" height="60px" />
              <div style="width: 180px; border: 1px solid #fff;border-radius:25px; margin:auto; margin-top:10px; margin-bottom:10px">
                  <h4><a href="/attend/ranking" style="color: #fff">출석 랭킹</a></h4>
              </div>
              <h3><p style="margin:0px; line-height:15px">출석왕과 지각왕, 결석왕을</p></p></h3>
              <h3><p style="margin:0px; line-height:15px">찾아봅시다</p></h3>
          </div>
         
       <div class="clear"></div>
      </div>
      <h3 style="text-align: center; margin: 50px 0 30px 0">NOW의 출석체크 페이지입니다</h3>

     
</div>
      